<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/testing.css' %}"/>
</head>
<body>
    <b>TEST</b>
</body>
</html>



<!--1)static_url-доступ к статик файлам
2) STATIC_ROOT- поиск статических файлов в директории указанной в константе рут
3)STATICFILES_DIRS-поиск статической папки каждого приложения
4)STATICFILES_STORAGE-константа для хранения файлов
5)STATICFILES_FINDERS-Список поисковых серверов умеющих находить статические файлы в разных местах.
-Найденные файлы хранящиеся в параметре STATICFILES_DIRS -->