{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/homework.css' %}"/>
    
</head>
<body>

<h2>Meeting of employees of the IT company.</h2>
<p>IT company "ARZY" - technology is the future</p>

<div class="container">
  
  <div class="row">
    <div class="col-25">
      <label>Persone</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label>Phone number</label>
    </div>
    <div class="col-75">
      <input type="text" id="phone_number" name="phone_number" placeholder="Your phone number..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <you for="place">Meeting place you want</label>
    </div>
    <div class="col-75">
      <select id="place" name="place">
        <option value="">Coffee house Adriano</option>
        <option value="mikasa">Sushi bar Mikasa</option>
        <option value="secrethall">Karaoke Secret Hall</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label>Comment</label>
    </div>
    <div class="col-75">
      <textarea id="comment" name="comment" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input type="submit" value="submit">
  </div>

</div>

</body>
</html>


